
<div class="jumbotron">
  <h1 class="display-4">SAML Test for Sails</h1>
  
  <p>sign in with an third party identity provider</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/saml/login" role="button">Sign In</a>
    <a class="btn btn-primary btn-lg" href="/saml/metadata" role="button">show Metadata</a>
  </p>
</div> 